h1{
    background-color: greenyellow;
}
.img{
    width: 10%;
}

footer{
    background-image: url(/tree.jpg);
}

.container{
    background-color: blueviolet;
}
p{
    color: black;
}
a{
    color: black;
}
.container1{
    background-color: rgb(187, 185, 185);
}